<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{{appName}}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      {{>style.css}}

      table {
          border: 1px solid #B1CDE3;
          padding:0;
          border-collapse: collapse;
      }

  .tableHeaderClass{
      font-size:14px;
      color: #FFFFFF;
  }

  .tdClass{
      border: 1px solid #B1CDE3;
      font-size:14px;
      padding: 3px 3px 3px 8px;
      color: #4f6b72;
  }
  .tableName{
      color:#00C;
      background-color:#009;
      border:#063}
    </style>

  </head>
  <body>
  <div style="margin-left:50px">
    <h1>{{{appName}}}</h1>
      <div class="app-desc">{{{appDescription}}}</div>
      {{#infoEmail}}<div class="app-desc">联系人: <a href="{{{infoEmail}}}">{{{infoEmail}}}</a></div>{{/infoEmail}}
      {{#version}}<div class="app-desc">Version: {{{version}}}</div>{{/version}}
      {{#basePathWithoutHost}}<div class="app-desc">BasePath:{{basePathWithoutHost}}</div>{{/basePathWithoutHost}}
      <div class="license-info">{{{licenseInfo}}}</div>
      <div class="license-url">{{{licenseUrl}}}</div>
    <h2>Access</h2>
    {{#hasAuthMethods}}
      <ol>
      {{#authMethods}}
        <li>{{#isBasic}}HTTP Basic Authentication{{/isBasic}}{{#isOAuth}}OAuth AuthorizationUrl:{{authorizationUrl}}TokenUrl:{{tokenUrl}}{{/isOAuth}}{{#isApiKey}}APIKey KeyParamName:{{keyParamName}} KeyInQuery:{{isKeyInQuery}} KeyInHeader:{{isKeyInHeader}}{{/isApiKey}}</li>
      {{/authMethods}}
      </ol>
    {{/hasAuthMethods}}

    <h2><a name="__Methods">接口</a></h2>
    [ 跳转到 <a href="#__Models">Models</a> ]
    <div class="method-summary">{{access}}</div>
    <table width="1000" border="1" cellpadding="0" cellspacing="0" >
    <tr height=30 align=center bgcolor="#009933" style="color:#CCC">
        <td class="tableHeaderClass">接口</td>
        <td  class="tableHeaderClass">路径</td>
        <td class="tableHeaderClass">HttpMethod</td>
        <td class="tableHeaderClass">参数</td>
        <td class="tableHeaderClass">返回值</td>
        </tr>
    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    <tr height=30 align=left>
        <td  class="tdClass">{{#notes}}{{notes}}{{/notes}}</td>
        <td  class="tdClass">{{path}}</td>
        <td  class="tdClass"><code class="huge"><span class="http-method {{httpMethod}}">{{httpMethod}}</span></code></td>
        <td  class="tdClass">
          <ul>
            {{#allParams}}
            <li>{{paramName}} {{#required}}<span style="color:#F00">必填</span>{{/required}} ({{#isFile}}{{dataType}}{{/isFile}}{{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{^isFile}}<a href="#{{baseType}}">{{dataType}}</a>{{/isFile}}{{/isPrimitiveType}}) {{description}}</li>
            {{/allParams}}
          </ul></td>
        <td  class="tdClass">
          {{#returnType}}
          {{#returnTypeIsPrimitive}}{{returnType}}{{/returnTypeIsPrimitive}}
          {{^returnTypeIsPrimitive}}<a href="#{{returnBaseType}}">{{returnType}}</a>{{/returnTypeIsPrimitive}}
          {{/returnType}}
          {{^returnType}}-{{/returnType}}
          </td>
    </tr>
    {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
    </table>

    <div class="up"><a href="#__Models">Up</a></div>
    <h2><a name="__Models">Models</a></h2>
    [ 跳转到 <a href="#__Methods">接口</a> ]

    <ol>
    {{#models}}
    {{#model}}
      <li><a href="#{{classname}}"><code>{{name}}</code> ({{title}})</a></li>
    {{/model}}
    {{/models}}
    </ol>

    {{#models}}{{#model}}
    <div style="height:20px"></div>
    <h3 class="field-label"><a name="{{classname}}">{{classname}} ({{title}})</a><a class="up" href="#__Models">Up</a></h3>
    <table width="1000" border="1" cellpadding="0" cellspacing="0" >
    <tr height=30 align=center bgcolor="#009933" style="color:#CCC">
        <td class="tableHeaderClass">名称</td>
        <td  class="tableHeaderClass">类型</td>
        <td class="tableHeaderClass">Description</td>
        </tr>
        {{#vars}}
        <tr height=30 align=left>
            <td  class="tdClass">{{baseName}}</td>
            <td  class="tdClass">
              {{#isPrimitiveType}}{{datatype}}{{/isPrimitiveType}}
              {{^isPrimitiveType}}<a href="#{{complexType}}">{{datatype}}</a>{{/isPrimitiveType}}</td>
            <td  class="tdClass">{{description}}
              {{#isEnum}}
                <div class="param-enum-header">Enum:</div>
                {{#_enum}}<div class="param-enum">{{this}}</div>{{/_enum}}
              {{/isEnum}}
            </td>
        </tr>
      {{/vars}}
    </table>
    {{/model}}{{/models}}
  </div>
  </body>
</html>
